{% extends './layout_cyk.html' %}
{% block title %} {{titulo}} {% endblock %}
{% block body %}

    <header>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesForm.css') }}">
        <div class="logo">ROLKAR</div>
            <nav class="nav-bar">
                
                <form action="{{ url_for('dashboardProductos') }}" method="get" style="display: inline;">
                    <button type="submit" class="btn btn-primary">Productos</button>
                </form>
    
                    <form action="{{ url_for('dashboardProveedores') }}" method="get" style="display: inline;">
                        <button type="submit" class="btn btn-primary">Proveedores</button>
                    </form>
    
                <form action="{{ url_for('dashboardClientes') }}" method="get" style="display: inline;">
                    <button type="submit" class="btn btn-primary">Clientes</button>
                </form>
                        <select id="product-menu">
                            <option value="usuario">Usuarios</option>
                        </select>
    
                        <button>Reportes</button>
            </nav>
            <div class="user-info">
                <span id="user-dropdown" class="dropdown">Admin@Uri</span>
                <div class="user-icon"></div>
                <div id="dropdown-menu" class="dropdown-content">
                    <a href="#" id="logout">Cerrar sesión</a>
                    <a href="#" id="help">Ayuda</a>
                </div>
            </div>
    </header>
    <form method="post" action="{{ url_for('usuariosActualizar', id=usuario[0]) }}" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
    
    <main>
        <h1>Editar Usuario</h1>
        <div class="form-container">
            <label for="id_usuario">ID Usuario</label>
            <input type="text" id="id-usuario" placeholder="id usuario" name="id_usuario" value="{{ usuario[0] }}">
            
            <label for="nombre">Username</label>
            <input type="text" id="username" placeholder="Nombre" name="username" value="{{ usuario[1] }}">

            <label for="password">Password</label>
            <input type="password" id="password" placeholder="contrasenia" name="password" value="{{ usuario[2] }}">

            <label for="tipo_usuario">Tipo de Usuario</label>
            <input type="text" id="tipo_usuario" placeholder="Tipo de Usuario" name="tipo_usuario" value="{{ usuario[3] }}">
            
            <label for="activo">Activo</label>
            <input type="boolean" id="direccion" placeholder="Activo" name="activo" value="{{ usuario[4] }}">

           
            <center>
                <button id="add-product" type="submit">Guardar</button>
                <a class="btn btn-outline-danger d-inline-flex align-items-center" id="add-other" href="{{url_for('dashboardUsuarios')}}">
                    Cancelar
                </a>
            </center>
        </div>
    </main>
    <script src="scripts.js"></script>
{% endblock %}